.admin-body {
	background-color: #cabb73;
}
.admin-space {
	padding: 20px;
}

.list-item {
	padding: 20px;
	margin-bottom: 12px;
	border-radius: 8px;
	background-color: white;
	box-shadow: 5px 10px 8px #1b2f48;
}
.actions a {
	padding-right: 16px; 
}
.new {
	width: 50%;
}
textarea {
	height: 200px;
}
.photo-form {
	margin-bottom: 12px;
}
.list-item img {
	width: 100%;
}
.list-item .price {
	font-size: 20px;
	text-align: left;
}
.list-item .desc {
	text-align: justify;
	margin-bottom: 12px;
}