.header{style: "background-image:url(#{image_path('header.jpg')})"}
  .site-name
    %h1
      = setting('site_name')
    = link_to "Call us " + setting('contact_number'), "tel:#{setting('contact_number')}"